@font-face {
    font-family: 'CeraPro-Bold';
    src: url('../fonts/CeraPro-Bold.eot');
    src: url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Bold.woff2') format('woff2'),
    url('../fonts/CeraPro-Bold.woff') format('woff'),
    url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CeraPro-Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Regular.woff2') format('woff2'),
    url('../fonts/CeraPro-Regular.woff') format('woff'),
    url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CeraPro-Black';
    src: url('../fonts/CeraPro-Black.eot');
    src: url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Black.woff2') format('woff2'),
    url('../fonts/CeraPro-Black.woff') format('woff'),
    url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CeraPro-Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Medium.woff2') format('woff2'),
    url('../fonts/CeraPro-Medium.woff') format('woff'),
    url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

.page{
    max-width: 500px;
    margin:auto;
    border-bottom:10px solid #46a358;
    padding:46px 100px;
    text-align:center;


}

.page h1{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    text-align:center;
    margin-bottom:40px;
    padding-top:46px;
}

.page span{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #46a358;
    text-align:center;
}
.page input{
    width: 300px;
    height: 40px;
    margin:16px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding:12px 14px;
}
.text.subject{
    width: 300px;
    height: 16px;
    margin:auto;

}

.text.subject.options{
    max-width:300px;
    margin-bottom:27px;
    text-align: center;
}


.btn button{
    border-radius: 5px;
    width: 300px;
    height: 45px;
    background-color: #46a358;
    color:white;
    max-width:300px;
    margin:auto;

}
.logo {
    width:300px;
    height:40px;
    text-decoration: none;
    border:1px solid #eaeaea;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom:14px;



}
img{
    width: 20px;
    height:20px;

}


.content{
    margin-bottom:41px;
    text-align: center;

}

.index_page {
    padding:30px 120px 52px;
}



.header_container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5px 0 0 rgba(70, 163, 88, 0.5);
    margin-bottom:12px;
    padding-bottom:17.7px;

}



.login{
    background-color: #46a358;
    color:#eaeaea;
    padding:7px 17px;
    font-family: 'CeraPro-Medium', sans-serif;
    font-size: 16px;
    text-decoration: none;
    border-radius: 6px;
    display:inline-flex;
    justify-content: center;
    align-items: center;

}

.login:before{
    background-image:url('../images/Logout.svg');
    display:inline-flex;
    width:20px;
    height:20px;
    content:"";
    margin:1px;
}



.header_container img{
    width:150px;
    height: 34.3px;
}

.menu ul{
    display: flex;
    align-items: center;
}
.menu li{
   
    margin-right:50px;
    font-family: 'CeraPro-Regular', sans-serif;



}


.menu_a{
    text-decoration: none;
    color:black;
    list-style-type:none;

}

.menu_a:hover{
    font-weight:bold;
}
.main_container {
    background-color:#F5F5F5;
    display:flex;
    justify-content: space-between;


}

.text_section{
    padding-left:40px;
}

.text_section span{
    color: #46a358;
    font-size: 70px;
}

.text_section h1{
    font-family: 'CeraPro-Black', sans-serif;
    font-size:70px;
    text-transform: uppercase;
    color: #3d3d3d;
    margin:6px;

}

.text_section p{
    font-family: 'CeraPro-Regular', sans-serif;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    width:557px;
    margin-bottom:44px;
}
.text_section h2{
    font-family: 'CeraPro-Medium', sans-serif;
    font-size: 14px;
    font-weight:500;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-top:68px;
    margin:6px;

}

.main_container a{

    background-color:#46a358;
    border-radius:6px;
    color:white;
    text-decoration:none;
    display: flex;
    justify-content: left;
    font-family: 'CeraPro-Bold', sans-serif;
    font-size:16px;
    padding:10px 26px;
    width:140px;

}


.main_container img{
    width:507px;
    height: 450px;
}